@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 20px;
}

.color {
    color: orangered;
}

.rey {
    border: 3px solid black;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
}

.caja {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 10px;
}

img {
    width: 100%;
    margin-top: 11px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 11px;
    width: 100%;
}

button {
    background-color: grey;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: auto;
    cursor: pointer;

}

.numero {
    user-select: none;
    font-size: 2rem;
}